*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

html{
    font-size: 60%;
    overflow-x: hidden;
}

body{
    background-color: #000000;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 4rem 12% 4rem;
    background: rgb(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}

#home a{
    color: rgb(255, 255, 255);
}

#home a:hover{
    color: rgb(255, 0, 106);
}

#projetos a{
    color: rgb(255, 0, 106);
    text-decoration: underline;
}

#projetos a:hover{
    color: rgb(255, 0, 98);
}

#hobbies a{
    color: rgb(255, 255, 255);
}

#hobbies a:hover{
    color: rgb(255, 0, 98);
}

#contatos a{
    color: rgb(255, 255, 255);
}

#contatos a:hover{
    color: rgb(255, 0, 98);
}

.logo{
    font-size: 3rem;
    font-family: 'sedgwick ave', sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease;
}

.logo:hover{
    transform: scale(1.1);
    color: rgb(255, 0, 106);
}

.logo span{
    text-shadow: 0 0 25px rgb(255, 0, 106);
}

.logo b{
    color: rgb(255, 0, 106);
}

.navbar{
    font-size: 1.8rem;
    color: white;
    display: flex;
}

.navbar p{
    margin-left: 4rem;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.navbar p:hover{
    color: rgb(255, 0, 106);
    transition: 0.4s;
    transform: scale(1.1);
    cursor: pointer;
}

/*navbar e header final*/

.tit-projeto{
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    color: white;
    margin-left: 7%;
    margin-top: 9%;
}

.text-mark p{
    font-family: 'rubik', sans-serif;
    color: white;
    font-size: 15px;
    margin-left: 7%;
}

.site-mark{
    width: 97rem;
    height: 47rem;
    margin-top: 2%;
    margin-left: 7%;
    box-shadow: 0 0 15px rgb(255, 0, 106);
}

.site-mark:hover{
    box-shadow: 0 0 25px rgb(255, 0, 106);
}

#tit-mark{
    color: rgb(255, 0, 106);
}

u{
    color: rgb(255, 0, 106);
}

.los{
    color: rgb(255, 136, 0);
}

.camp-freefire{
    color: white;
    font-size: 2.5rem;
}

.tit-mark{
    font-size: 2.5rem;
}

.freefire{
    font-family: 'rubik', sans-serif;
    color: white;
    font-size: 15px;
    margin-left: 7%;
    margin-top: 2%;
}

.freefire-img{
    margin-left: 7%;
    margin-top: 1%;
    margin-bottom: 10rem;
    width: 500px;
    box-shadow: 0 0 15px rgb(255, 136, 0);
}

.freefire-img:hover{
    box-shadow: 0 0 25px rgb(255, 136, 0);
}

.text-freefire b{
    color: rgb(255, 255, 255);
}
