*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

html{
    font-size: 60%;
    overflow-x: hidden;
}

body{
    background-color: #000000;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 4rem 12% 4rem;
    background: rgb(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}

#home{
    color: rgb(255, 0, 106);
    text-decoration: underline;
}

#home a{
    color: rgb(255, 0, 106);
    text-decoration: underline;
}
#projetos a{
    color: rgb(255, 255, 255);
}

#projetos a:hover{
    color: rgb(255, 0, 98);
}

#hobbies a{
    color: rgb(255, 255, 255);    
}

#hobbies a:hover{
    color: rgb(255, 0, 106);    
}

#contatos a{
    color: rgb(255, 255, 255);
}

#contatos a:hover{
    color: rgb(255, 0, 98);
}

.logo{
    font-size: 3rem;
    font-family: 'sedgwick ave', sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease;
}

.logo:hover{
    transform: scale(1.1);
    color: rgb(255, 0, 106);
}

.logo span{
    text-shadow: 0 0 25px rgb(255, 0, 106);
}

.logo b{
    color: rgb(255, 0, 106);
}

.navbar{
    font-size: 1.8rem;
    color: white;
    display: flex;
}

.navbar p{
    margin-left: 4rem;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.navbar p:hover{
    color: rgb(255, 0, 106);
    transition: 0.4s;
    transform: scale(1.1);
    cursor: pointer;
}

.foto-amanda img{
    position: absolute;
    top: 20%;
    margin-left: 56%;
    width: 28vw;
    box-shadow: 0 0 25px rgb(255, 0, 106);
    border-radius: 50%;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.foto-amanda img:hover{
    box-shadow: 0 0 25px rgb(255, 0, 106),
                0 0 40px rgb(255, 0, 106),
                0 0 80px rgb(255, 0, 106);
}

.name{
    color: white;
    font-family: 'poppins', sans-serif;
    font-size: 400%;
    font-weight: 700;
    margin-top: 20%;
    margin-left: 7%;
    line-height: 1;
}

.text{
    font-family: 'rubik', sans-serif;
    position: absolute;
    color: white;
    margin-left: 7%;
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-size: 1.5rem;
}

.red{
    color: rgb(255, 0, 43);
}

.text a{
    text-decoration: underline;
    color: rgb(255, 0, 98);
}

